<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="NawsUslugiSoap">
                    <mtomMessageEncoding messageVersion="Soap12WSAddressingAugust2004" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://www.pt2.zus.pl/SDWI_AWS2/NawsUslugi.svc"
                binding="customBinding" bindingConfiguration="NawsUslugiSoap"
                contract="ServiceReference1.INawsUslugi" name="NawsUslugiSoap" />
        </client>
    </system.serviceModel>
</configuration>